---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetNextDeparturesByStopCode.aspx?stopcode=17&token=65a0fa17-c546-4755-a272-52616d81380b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"BART\" HasDirection=\"False\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"Concord\" Code=\"886\">\r\n<StopList>\r\n<Stop
        name=\"Embarcadero (SF)\" StopCode=\"17\">\r\n<DepartureTimeList />\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"Dublin Pleasanton\" Code=\"920\">\r\n<StopList>\r\n<Stop name=\"Embarcadero
        (SF)\" StopCode=\"17\">\r\n<DepartureTimeList>\r\n<DepartureTime>7</DepartureTime>\r\n<DepartureTime>22</DepartureTime>\r\n<DepartureTime>37</DepartureTime>\r\n</DepartureTimeList>\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"Fremont\" Code=\"917\">\r\n<StopList>\r\n<Stop name=\"Embarcadero (SF)\"
        StopCode=\"17\">\r\n<DepartureTimeList>\r\n<DepartureTime>14</DepartureTime>\r\n<DepartureTime>29</DepartureTime>\r\n<DepartureTime>44</DepartureTime>\r\n</DepartureTimeList>\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"North Concord\" Code=\"1027\">\r\n<StopList>\r\n<Stop name=\"Embarcadero
        (SF)\" StopCode=\"17\">\r\n<DepartureTimeList />\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"Pittsburg Bay Point\" Code=\"908\">\r\n<StopList>\r\n<Stop name=\"Embarcadero
        (SF)\" StopCode=\"17\">\r\n<DepartureTimeList>\r\n<DepartureTime>3</DepartureTime>\r\n<DepartureTime>9</DepartureTime>\r\n<DepartureTime>18</DepartureTime>\r\n</DepartureTimeList>\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"Richmond\" Code=\"762\">\r\n<StopList>\r\n<Stop name=\"Embarcadero
        (SF)\" StopCode=\"17\">\r\n<DepartureTimeList>\r\n<DepartureTime>1</DepartureTime>\r\n<DepartureTime>16</DepartureTime>\r\n<DepartureTime>32</DepartureTime>\r\n</DepartureTimeList>\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n</RouteList>\r\n</Agency>\r\n\r\n</AgencyList>\r\n</RTT>\r\n"
  recorded_at: Tue, 10 Feb 2015 01:33:10 GMT
recorded_with: VCR 2.9.3
