---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetRoutesForAgency.aspx?agencyName=BART&token=65a0fa17-c546-4755-a272-52616d81380b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"BART\" HasDirection=\"False\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"Daly City\" Code=\"747\">\r\n</Route>\r\n\r\n<Route
        Name=\"Dublin Pleasanton\" Code=\"920\">\r\n</Route>\r\n\r\n<Route Name=\"Fremont\"
        Code=\"917\">\r\n</Route>\r\n\r\n<Route Name=\"Millbrae\" Code=\"764\">\r\n</Route>\r\n\r\n<Route
        Name=\"North Concord\" Code=\"1027\">\r\n</Route>\r\n\r\n<Route Name=\"Pittsburg
        Bay Point\" Code=\"908\">\r\n</Route>\r\n\r\n<Route Name=\"Richmond\" Code=\"762\">\r\n</Route>\r\n\r\n<Route
        Name=\"SF Airport\" Code=\"722\">\r\n</Route>\r\n\r\n<Route Name=\"SF Airport
        then Millbrae\" Code=\"1561\">\r\n</Route>\r\n\r\n</RouteList>\r\n</Agency>\r\n\r\n</AgencyList>\r\n</RTT>\r\n"
  recorded_at: Tue, 10 Feb 2015 00:24:23 GMT
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetRoutesForAgency.aspx?agencyName=BART&token=65a0fa17-c546-4755-a272-52616d81380b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"BART\" HasDirection=\"False\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"Daly City\" Code=\"747\">\r\n</Route>\r\n\r\n<Route
        Name=\"Dublin Pleasanton\" Code=\"920\">\r\n</Route>\r\n\r\n<Route Name=\"Fremont\"
        Code=\"917\">\r\n</Route>\r\n\r\n<Route Name=\"Millbrae\" Code=\"764\">\r\n</Route>\r\n\r\n<Route
        Name=\"North Concord\" Code=\"1027\">\r\n</Route>\r\n\r\n<Route Name=\"Pittsburg
        Bay Point\" Code=\"908\">\r\n</Route>\r\n\r\n<Route Name=\"Richmond\" Code=\"762\">\r\n</Route>\r\n\r\n<Route
        Name=\"SF Airport\" Code=\"722\">\r\n</Route>\r\n\r\n<Route Name=\"SF Airport
        then Millbrae\" Code=\"1561\">\r\n</Route>\r\n\r\n</RouteList>\r\n</Agency>\r\n\r\n</AgencyList>\r\n</RTT>\r\n"
  recorded_at: Tue, 10 Feb 2015 00:24:23 GMT
recorded_with: VCR 2.9.3
