---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetStopsForRoute.aspx?routeIDF=BART~762&token=65a0fa17-c546-4755-a272-52616d81380b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"BART\" HasDirection=\"False\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"Richmond\" Code=\"762\">\r\n<StopList>\r\n<Stop
        name=\"Civic Center (SF)\" StopCode=\"11\">\r\n</Stop>\r\n\r\n<Stop name=\"Powell
        St. (SF)\" StopCode=\"13\">\r\n</Stop>\r\n\r\n<Stop name=\"Montgomery St.
        (SF)\" StopCode=\"15\">\r\n</Stop>\r\n\r\n<Stop name=\"Embarcadero (SF)\"
        StopCode=\"17\">\r\n</Stop>\r\n\r\n<Stop name=\"West Oakland\" StopCode=\"19\">\r\n</Stop>\r\n\r\n<Stop
        name=\"Fremont\" StopCode=\"21\">\r\n</Stop>\r\n\r\n<Stop name=\"Union City\"
        StopCode=\"23\">\r\n</Stop>\r\n\r\n<Stop name=\"South Hayward\" StopCode=\"25\">\r\n</Stop>\r\n\r\n<Stop
        nam[...]
