---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetStopsForRoute.aspx?routeIDF=BART~920&token=65a0fa17-c546-4755-a272-52616d81380b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"BART\" HasDirection=\"False\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"Dublin Pleasanton\" Code=\"920\">\r\n<StopList>\r\n<Stop
        name=\"Civic Center (SF)\" StopCode=\"11\">\r\n</Stop>\r\n\r\n<Stop name=\"Powell
        St. (SF)\" StopCode=\"13\">\r\n</Stop>\r\n\r\n<Stop name=\"Montgomery St.
        (SF)\" StopCode=\"15\">\r\n</Stop>\r\n\r\n<Stop name=\"Embarcadero (SF)\"
        StopCode=\"17\">\r\n</Stop>\r\n\r\n<Stop name=\"West Oakland\" StopCode=\"19\">\r\n</Stop>\r\n\r\n<Stop
        name=\"Bayfair (San Leandro)\" StopCode=\"30\">\r\n</Stop>\r\n\r\n<Stop name=\"San
        Leandro\" StopCode=\"32\">\r\n</Stop>\r\n\r\n<Stop name=\"Coliseum/Oakland
        Airport\" StopCode=\"34\">\r\n</Stop>\r\n\r\n<Stop name=\"Fruitvale (Oakland)\"
        StopCode=\"36\">\r\n</Stop>\r\n\r\n<Stop name=\"Lake Merritt (Oakland)\" StopCode=\"38\">\r\n</Stop>\r\n\r\n<Stop
        name=\"Castro Valley\" StopCode=\"74\">\r\n</Stop>\r\n\r\n<Stop name=\"Dublin/Pleasanton\"
        StopCode=\"76\">\r\n</Stop>\r\n\r\n<Stop name=\"West Dublin/Pleasanton\" StopCode=\"88\">\r\n</Stop>\r\n\r\n<Stop
        name=\"Daly City\" StopCode=\"91\">\r\n</Stop>\r\n\r\n<Stop name=\"Balboa
        Park (SF)\" StopCode=\"93\">\r\n</Stop>\r\n\r\n<Stop name=\"Glen Park (SF)\"
        StopCode=\"95\">\r\n</Stop>\r\n\r\n<Stop name=\"24th St. Mission (SF)\" StopCode=\"97\">\r\n</Stop>\r\n\r\n<Stop
        name=\"16th St. Mission (SF)\" StopCode=\"99\">\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n</RouteList>\r\n</Agency>\r\n\r\n</AgencyList>\r\n</RTT>\r\n"
  recorded_at: Tue, 10 Feb 2015 00:24:45 GMT
recorded_with: VCR 2.9.3
