---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetNextDeparturesByStopCode.aspx?stopcode=15&token=65a0fa17-c546-4755-a272-52616d81380b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"BART\" HasDirection=\"False\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"Concord\" Code=\"886\">\r\n<StopList>\r\n<Stop
        name=\"Montgomery St. (SF)\" StopCode=\"15\">\r\n<DepartureTimeList />\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"Dublin Pleasanton\" Code=\"920\">\r\n<StopList>\r\n<Stop name=\"Montgomery
        St. (SF)\" StopCode=\"15\">\r\n<DepartureTimeList>\r\n<DepartureTime>12</DepartureTime>\r\n<DepartureTime>27</DepartureTime>\r\n<DepartureTime>42</DepartureTime>\r\n</DepartureTimeList>\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Route
        Name=\"Fremont\" Code=\"917\">\r\n<StopList>\r\n<Stop name=\"Montgomery St.
        (SF)\" StopCode=\"15\">\r\n<DepartureTimeList>\r\n<DepartureTime>4</DepartureTime>\r\n<DepartureTime>19</DepartureTime>\r\n<DepartureTime>34</DepartureTime>\r\n</DepartureTimeList>\r\n</Stop>\r\n\r\n</StopList>\r\n</Route>\r\n\r\n<Rout[...]
