---
http_interactions:
- request:
    method: get
    uri: http://api.bart.gov/api/etd.aspx?cmd=etd&key=Z7VL-JP6U-IY2Q-DT35&orig=WOAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><root><uri><![CDATA[http://api.bart.gov/api/etd.aspx?cmd=etd&orig=WOAK]]></uri><date>02/16/2015</date>
        <time>07:41:18 PM PST</time>
        <station><name>West Oakland</name><abbr>WOAK</abbr><etd><destination>Daly City</destination><abbreviation>DALY</abbreviation><estimate><minutes>2</minutes><platform>1</platform><direction>South</direction><length>8</length><color>BLUE</color><hexcolor>#0099cc</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>24</minutes><platform>1</platform><direction>South</direction><length>9</length><color>BLUE</color><hexcolor>#0099cc</hexcolor><bikeflag>1</bikeflag></estimate><estimate><minutes>38</minutes><platform>1</platform><direction>South</direction><length>8</length><color>BLUE</color><hexcolor>#0099cc</hexcolor><bikeflag>1</bikeflag></estimate></etd><etd><destination>Dublin/Pleasanton</destination><abbreviation>DUBL</abbreviation><estimate><minutes>14</minutes>[...]
