---
http_interactions:
- request:
    method: get
    uri: http://api.bart.gov/api/route.aspx?cmd=routes&key=Z7VL-JP6U-IY2Q-DT35
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><root><uri><![CDATA[http://api.bart.gov/api/route.aspx?cmd=routes]]></uri><sched_num>35</sched_num><routes><route><name>Pittsburg/Bay
        Point - SFIA/Millbrae</name><abbr>PITT-SFIA</abbr><routeID>ROUTE 1</routeID><number>1</number><color>#ffff33</color></route><route><name>Daly
        City - Dublin/Pleasanton</name><abbr>DALY-DUBL</abbr><routeID>ROUTE 12</routeID><number>12</number><color>#0099cc</color></route><route><name>Daly
        City - Fremont</name><abbr>DALY-FRMT</abbr><routeID>ROUTE 6</routeID><number>6</number><color>#339933</color></route><route><name>Dublin/Pleasanton
        - Daly City</name><abbr>DUBL-DALY</abbr><routeID>ROUTE 11</routeID><number>11</number><color>#0099cc</color></route><route><name>Fremont
   [...]
