@import 'variables';

body {
  font-size: 16px;
  height: 100vh;
}

a {
  text-decoration: none !important;
  color: $dark_green;
  &:hover, &:active {
    color: $darkish_green;
  }
}

.container {
  margin-top: 90px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: $main_green;
  box-shadow: 0px 2px 5px $dark_green;
  h1 {
    a, a:active {
      color: $light_green;
      letter-spacing: 2px;
      &:hover {
        color: lighten($light_green, 10%);
      }
    }
  }
  .container {
    margin: 0 auto;
    position: relative;
  }
  nav {
    position: absolute;
    right: 30px;
    bottom: 0px;
    ul {
      list-style: none;
      li {
        padding: 0;
        border: 1px solid $dark_blue;
        border-bottom: 0px;
        border-radius: 5px 5px 0 0;
        float: left;
        background-color: $darkish_blue;
        a {
          font-size: 14px;
          color: lighten($light_blue, 30%);
          display: block;
          padding: 2px 20px;
          &:hover {
            color: lighten($light_blue, 40%);
          }
        }
        &:hover {
          background-color: $main_blue;
          box-shadow: 0 0 8px 2px $darkish_blue inset;
        }
        &.active {
          background-color: $main_blue;
          box-shadow: 0 0 8px 2px $darkish_blue inset;
        }
        &:nth-child(2) {
          border-left: 0;
        }
      }
    }
  }
}

.scrolling-list {
  margin-bottom: 10vh;
  ul {
    margin: 0;
    overflow-y: scroll;
    height: 90vh;
    list-style: none;
    padding: 0;
    li {
      padding: 0;
      a {
        display: block;
        padding: 5px 0;
      }
    }
    li:not(:last-child) {

      border-bottom: 1px solid #ccc;
    }
  }
}

.departures-list {
  ul {
    li {
      padding: 5px 0;
    }
  }
  .stop-name {
    color: $dark_green;
    font-weight: bold;
  }
  .route-name {
    font-size: 0.8em;
    color: $main_green;
    font-weight: bold;
  }
  .departure-time {
    color: $darkish_green;
    font-weight: bold;
    float: right;
  }
}

img.up-arrow {
  cursor: pointer;
  display: block;
  height: 50px;
  width: 50px;
  margin: auto auto;
}
