body {
  font-size: 16px;
  height: 100vh;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  .container {
    margin: 0 auto;
    background-color: #ccc;
  }
}

a {
  text-decoration: none !important;
}

.scrolling-list {
  overflow-y: scroll;
  margin-top: 10vh;
  height: 90vh;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      a {
        display: block;
        padding: 5px 0;
      }
    }
    li:not(:last-child) {

      border-bottom: 1px solid #ccc;
    }
  }
}

.departures-list {
  .stop-name {
    color: #333;
    font-weight: bold;
  }
  .route-name {
    color: #666;
    font-weight: bold;
  }
  .departure-time {
    float: right;
  }
}
