.nearby-container {
  width: 60%;
  margin: 40px auto;
  .progress-message {
    font-size: 20px;
  }
  ul {
    list-style-type: none;
    &.nearby-stops-list {
      li {
        .stop-title {
          border-bottom: 1px solid #999;
          font-weight: bold;
          color: $dark_blue;
        }
        .stop-info {
          min-height: 40px;
          font-size: 14px;
        }
        &.stop {
          margin-bottom: 10px;
        }
      }
    }
    &.nearby-departures-list {
      width: 75%;
      padding: 0;
      margin: 10px auto;
      li:nth-child(2n) {
        background-color: #e0e0e0;
      }
    }
  }
}

