$main_green: #287559;
$dark_green: #013C27;
$darkish_green: #10593F;
$lightish_green: #499178;
$light_green: #75AE9A;

$main_blue: #2c4f71;
$dark_blue: #05203a;
$darkish_blue: #152656;
$lightish_blue: #4c6d8c;
$light_blue: #7690a9;
