<!DOCTYPE html>
<html>
<head>
  <title>TransIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class='container'>
    <h1>TransIt</h1>
  </div>
</header>

<div class='container'>
  <%= content_tag 'div', '', id: 'outlet', data: bootstrap_data %>
</div>

</body>
</html>
